# Database
DATABASE_URL=
PORT=
JWT_SECRET_KEY=

# Liver Course API
# GOOGLE_ACCESS_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SENDER_EMAIL=
GOOGLE_SENDER_PASS=

# Deployment to Railway
RAILWAY_ENVIRONMENT_NAME=
RAILWAY_SERVICE_ID=
RAILWAY_DEV_TOKEN=
RAILWAY_PROD_TOKEN=